<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>DNS update service</title>
  </head>
  <body>
    <h1>Update denied</h1>
    You did not provide a valid token to update {{name}}
  </body>
